# Which category will follow the following configuration
[mysqld]
# Where is stored our database
datadir=/var/lib/mysql
# Where MySQL can find the socket to communicate with
socket=/run/mysqld/mysqld.sock
# Which IP addresses can connect (all of them, hence the "*")
bind_address=*
# Which port can MySQL communicate with
port=3306
# User
user=mysql